.container {
  position: relative;
  height: calc(100% - var(--primary_header_height));
  display: flex;

  .map_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    width: 54%;
    padding: 5px;
    padding-bottom: 15px;
    .map_border {
      padding: 12px;
      overflow: hidden;
    }
  }
  .content_wrap {
    flex: 1;
    position: relative;
  }
  .leftSide {
  }
  .rightSide {
  }
}
