.container {
  width: 100%;
  height: 100%;
  background: url("./assets/bg01.png") center no-repeat;
  background-size: cover;
  .header {
    background-image: url("./assets/header.png");
    background-position: center;
    background-repeat: no-repeat;
    height: var(--primary_header_height);
    .title {
      margin: 0;
      line-height: var(--primary_header_height);
    }
  }
}
