.header {
  // background: var(--primary_content_background_1_head);
  height: var(--primary_header_height);
  position: relative;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   z-index: 0;
  //   left: 0;
  //   right: 0;
  //   width: 50%;
  //   height: 100%;
  //   background: var(--primary_content_background_1_left);
  // }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: 0;
  //   right: 0;
  //   right: 0;
  //   width: 50%;
  //   height: 100%;
  //   background: var(--primary_content_background_1_right);
  // }
  .background {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    background-image: url("./assets/header1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    z-index: 1;
  }

  .content {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .title {
      font-family: WanShiQuanXing;
      font-size: 40px;
      margin: 0;
      line-height: calc(var(--primary_header_height) - 10px);
      background: linear-gradient(
        to bottom,
        white,
        #98d6f9
      ); /* 渐变色：从上白到下浅蓝 */
      -webkit-background-clip: text; /* 背景裁剪为文本 */
      -webkit-text-fill-color: transparent; /* 设置文本填充为透明 */
    }
  }
}
